{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block login %}
{% endblock %}

{% block content %}
    <div class="card card-default inset">
<div class="card-body">
<h5 class="card-title">{% trans "Change Password" %}</h5>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-sm btn-primary" type="submit" name="action">{% trans "Change password" %}</button>
    </form>
</div>
</div>
{% endblock %}
