{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block collapse %}
{% endblock %}

{% block content %}
<div class="card mt-2 ml-2">
<h5 class="card-header p-2"><a href="{% url 'area_detail' team.area.slug %}">{{ team.area }}</a> &sect; {{ team }}</h5>
<div class="card-body p-2">
  <div class="row">
  <div class='col-sm-4 mb-2'>
  <div class='card'>
  <div class='card-body'>
    <div class=''>
    <h6><strong>Background</strong></h6>
    </div>
    <div class=''>
        The Incident Command Application was developed to facilitate Incident Management Teams in recruiting for and filling team positions. These positions are only for temporary assignments during an incident.<br/>
        <br/>
        All positions listed follow National Wildfire Coordination Group (NWCG) standard positions found in PMS 310-1 Wildland Fire Qualification System Guide. In order to apply to any position you must meet the qualifications and training as outlined in the 310-1 and be certified through your respective agency.<br/>
        {% if not user.is_authenticated %}
        <br>
        <div class="alert alert-info">
        If you need to <strong>apply to an incident management team position</strong>, <a href="{% url 'account_signup' %}" class="alert-link">sign up for an icap account</a> and then <a href="{% url 'account_login' %}" class="alert-link">login to ICAP</a>.</div>
        {% endif %}
    </div>
  </div>
  </div>
</div>
<div class="col-sm-8">
  <div class="card">
<div class="card-body p-2 bg-secondary">
<table class="table table-bordered table-sm mb-0 bg-white">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Position</th>
      <th scope="col">Application Period</th>
    </tr>
  </thead>
  <tbody>
{% for p in team_positions %}
    <tr>
      <td><a href="{% url 'position_detail' team.area.slug team.slug p.slug %}">{{ p.code }}</a></td>
      <td><a href="{% url 'position_detail' team.area.slug team.slug p.slug %}">{{ p.name }}</a></td>
      <td>{% if p.open_date and p.close_date %}{{ p.open_date|date:'Y-m-d' }} to {{ p.close_date|date:'Y-m-d' }}{% elif team.area.open_date and team.area.close_date %}{{ team.area.open_date|date:'Y-m-d' }} to {{ team.area.close_date|date:'Y-m-d' }}{% endif %}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}