{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block collapse %}
{% endblock %}

{% block extrahead %}
<style>
label {
    font-weight: bolder;
}
</style>
{% endblock %}

{% block content %}

{% load guardian_tags %}
{% get_obj_perms request.user for position.team.area as "area_perms" %}
{% if user.is_authenticated and "manage_area" in area_perms or user.is_authenticated and user.email in team_ics %}
<div class="card mt-2 ml-2">
  <div class="card-header p-2">
      <h5 class="mb-0 float-left">
        <a href="{% url 'area_detail' position.team.area.slug %}">{{ position.team.area }}</a> &sect; <a href="{% url 'team_detail' position.team.area.slug position.team.slug %}">{{ position.team }}</a> &sect; {{ position.name }}
      </h5>
    <div class="float-right">
    <form class="needs-validation" id="positionstatus_form" method="POST" enctype="multipart/form-data" action="{% url 'position_detail' position.team.area.slug position.team.slug position.slug %}" novalidate>
    {% csrf_token %}
    {% if position.open_date and position.close_date %}
    Open from <input type="date" name="open" value="{{ position.open_date|date:'Y-m-d' }}" class="pb-1 mr-1" maxlength="10" id="id_open" placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"> to 
    <input type="date" name="close" value="{{ position.close_date|date:'Y-m-d' }}" class="pb-1 mr-1" maxlength="10" id="id_close" placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    {% elif position.team.open_date and position.team.close_date %}
    Open from <input type="date" name="open" value="{{ position.team.open_date|date:'Y-m-d' }}" class="pb-1 mr-1" maxlength="10" id="id_open" placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"> to 
    <input type="date" name="close" value="{{ position.team.close_date|date:'Y-m-d' }}" class="pb-1 mr-1" maxlength="10" id="id_close" placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    {% elif position.team.area.open_date and position.team.area.close_date %}
    Open from <input type="date" name="open" value="{{ position.team.area.open_date|date:'Y-m-d' }}" class="pb-1 mr-1" maxlength="10" id="id_open" placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"> to 
    <input type="date" name="close" value="{{ position.team.area.close_date|date:'Y-m-d' }}" class="pb-1 mr-1" maxlength="10" id="id_close" placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    {% else %}
    Open from <input type="date" name="open" value="" class="pb-1 mr-1" maxlength="10" id="id_open" placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"> to 
    <input type="date" name="close" value="" class="pb-1 mr-1" maxlength="10" id="id_close" placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    {% endif %}
    <input class="btn btn-sm btn-primary float-right pb-1 small" type="submit" name="positionstatus" value="Save dates">
    </form>
    </div>
  </div>

{% if position_applications %}
<div class="card-body p-2 bg-secondary">
<table class="table table-bordered table-sm mb-0 bg-white">
<caption class="bg-white pl-2"><small>{% if position_applications %}{{ position_applications|length }}{% else %}0{% endif%} application{{ position_applications|length|pluralize }} for this position.
{% regroup position_applications|dictsort:"status" by get_status_display as app_list %}
{% for group in app_list %}
{{ group.list|length }} {% if group.grouper == '' %}UNSTATUSED{% else %}{{ group.grouper }}{% endif %}{% if forloop.last %}.{% elif forloop.first and forloop.revcounter == 1 %} and {% elif forloop.revcounter == 1 %}, and {% else %}, {% endif %}
{% endfor %}
</small></caption>
<form class="needs-validation" id="applications_form" method="POST" enctype="multipart/form-data" action="{% url 'position_detail' position.team.area.slug position.team.slug position.slug %}" novalidate>
  {% csrf_token %}
  <thead>
    <tr>
      <th scope="col" class="align-top">Date / Edited</th>
      <th scope="col" class="align-top">Applicant Name</th>
      <th scope="col" class="align-top">Applicant Email</th>
      <th scope="col" class="align-top">Consideration</th>
      <th scope="col" >Application Status
        <input class="btn btn-sm btn-primary float-right ml-1 pb-1 small" type="submit" name="applications" value="Save all below">
      </th>
    </tr>
  </thead>
  <tbody>
{% for a in position_applications %}
    <tr>
      <td>{{ a.created|date:'Y-m-d' }}{% if a.modified and a.modified|date:'Y-m-d' != a.created|date:'Y-m-d' %} / {{ a.modified|date:'Y-m-d' }}{% endif %}</td>
      <td><a href="{% url 'applicant_detail' a.applicant.author.email %}">{{ a.applicant.firstname|default_if_none:'--' }} {{ a.applicant.lastname|default_if_none:'--' }}</a></td>
      <td><a href="{% url 'applicant_detail' a.applicant.author.email %}">{{ a.applicant.author.email }}</a></td>
      <td>{{ a.get_consideration_display }}{% if a.position.team != position.team %}<span class="float-right">POOL</span>{% endif %}</td>
    <td class="form-inline">
      <div class="col pl-0 pr-0">
      <div class="input-group input-group-sm">
      <input type="hidden" name="application_{{ a.id }}" readonly value="{{ a.id }}">
      <select name="application_status_{{ a.id }}" class="form-control form-control-sm" id="id_application_status_{{ a.id }}" autocomplete="off">
        <option value=""{% if a.status == '' %} selected{% endif %}>--</option>
        <option value="P"{% if a.status == 'P' %} selected{% endif %}>PRIMARY</option>
        <option value="S"{% if a.status == 'S' %} selected{% endif %}>SHARED</option>
        <option value="A"{% if a.status == 'A' %} selected{% endif %}>ALTERNATE</option>
        <option value="T"{% if a.status == 'T' %} selected{% endif %}>TRAINEE</option>
        <option value="R"{% if a.status == 'R' %} selected{% endif %}>REJECTED</option>
        <option value="W"{% if a.status == 'W' %} selected{% endif %}>WITHDRAWN</option>
      </select>
      <span class="input-group-btn">
       <input class="btn btn-sm btn-primary ml-1 pb-1 small" type="submit" name="app_{{ a.id }}" value="Save">
      </span>
      </div>
      </div>
    </td>
    </tr>
{% endfor %}
  </tbody>
</form>
</table>
</div>
{% else %}
<div class="card-body p-2">
<div class="m-3">
No applicants for this position. We should show a table of applicants to {{ position.name }} positions on all {{ position.team.area }} teams.
</div>
</div>
{% endif %}
    {% if user.is_authenticated and "manage_area" in area_perms %}
  <div class="card-footer p-2 small">
    You are a coordinator for {{ position.team.area }} and can set open/close dates, <a href="{% url 'team_applicants' position.team.area.slug position.team.slug %}">view all applicants</a> to {{ position.team.name }}, <a href="{% url 'team_applicants_reports' position.team.area.slug position.team.slug %}">generate csv/json exports of all applicants</a> to {{ position.team.name }}, and select applicants into team positions.
  </div>
    {% elif user.is_authenticated and user.email in team_ics %}
  <div class="card-footer p-2 small">
    You are an IC on {{ position.team }} and can set open/close dates, <a href="{% url 'team_applicants' position.team.area.slug position.team.slug %}">view all applicants</a> to the team, <a href="{% url 'team_applicants_reports' position.team.area.slug position.team.slug %}">generate csv/json exports of all applicants</a> to the team, and select applicants into team positions.
  </div>
    {% endif %}
</div>
{% else %}

  <form class="needs-validation" id="application_form" method="POST" enctype="multipart/form-data" action="{% url 'position_detail' position.team.area.slug position.team.slug position.slug %}" novalidate>
    {% csrf_token %}

<div class="card mt-2 ml-2">

{% if applicant.lastname is not none %}
  <h5 class="card-header p-2">
    <a href="{% url 'area_detail' position.team.area.slug %}">{{ position.team.area }}</a> &sect; <a href="{% url 'team_detail' position.team.area.slug position.team.slug %}">{{ position.team }}</a> &sect; {{ position.name }}
    <span class="float-right small">
    {% now "Y-m-d" as todays_date %}
    {% if position.open_date and position.close_date %}
     {% if position.open_date|date:'Y-m-d' <= todays_date and position.close_date|date:'Y-m-d' >= todays_date %}
     <span class='text-success font-weight-bold'>
     {% else %}
     <span class='text-danger font-weight-bold'>
     {% endif %}
     Open from {{ position.open_date|date:'Y-m-d' }} to {{ position.close_date|date:'Y-m-d' }}
     {% if position.open_date|date:'Y-m-d' <= todays_date and position.close_date|date:'Y-m-d' >= todays_date %}
     <input class="btn btn-sm btn-primary float-right ml-1 pb-1 small" type="submit" value="Save application">
     {% endif %}
    {% elif position.team.open_date and position.team.close_date %}
     {% if position.team.open_date|date:'Y-m-d' <= todays_date and position.team.close_date|date:'Y-m-d' >= todays_date %}
     <span class='text-success font-weight-bold'>
     {% else %}
     <span class='text-danger font-weight-bold'>
     {% endif %}
     Open from {{ position.team.open_date|date:'Y-m-d' }} to {{ position.team.close_date|date:'Y-m-d' }}
     {% if position.team.open_date|date:'Y-m-d' <= todays_date and position.team.close_date|date:'Y-m-d' >= todays_date %}
     <input class="btn btn-sm btn-primary float-right ml-1 pb-1 small" type="submit" value="Save application">
     {% endif %}
    {% elif position.team.area.open_date and position.team.area.close_date %}
     {% if position.team.area.open_date|date:'Y-m-d' <= todays_date and position.team.area.close_date|date:'Y-m-d' >= todays_date %}
     <span class='text-success font-weight-bold'>
     {% else %}
     <span class='text-danger font-weight-bold'>
     {% endif %}
     Open from {{ position.team.area.open_date|date:'Y-m-d' }} to {{ position.team.area.close_date|date:'Y-m-d' }}
     {% if position.team.area.open_date|date:'Y-m-d' <= todays_date and position.team.area.close_date|date:'Y-m-d' >= todays_date %}
     <input class="btn btn-sm btn-primary float-right ml-1 pb-1 small" type="submit" value="Save application">
     {% endif %}
    {% endif %}
    </span>
  </h5>

{% if position_application or user.is_authenticated and "manage_area" not in area_perms %}
  <div class="row ml-0 mr-0">
    <div class='col-sm-4'>
      <div class='card mt-2'>
        <div class='card-body'>
          <div class=''>
            <h6><strong>Background</strong></h6>
          </div>
          <div class=''>
            The Incident Command Application was developed to facilitate Incident Management Teams in recruiting for and filling team positions. These positions are only for temporary assignments during an incident.<br/>
            <br/>
            All positions listed follow National Wildfire Coordination Group (NWCG) standard positions found in PMS 310-1 Wildland Fire Qualification System Guide. In order to apply to any position you must meet the qualifications and training as outlined in the 310-1 and be certified through your respective agency.<br/>
          </div>
        </div>
      </div>
      <div class='alert alert-info mt-4'>
      {% if user.is_authenticated %}
        <h6><strong>Directions</strong></h6>
          <input type="checkbox" class="" disabled checked /> <strong>Step 1</strong>: <a class="alert-link" href="{% url 'account_signup' %}">Sign up for an icap account</a> at the <a class="alert-link" href="{% url 'account_signup' %}">signup page</a>.<br/>
          <input type="checkbox" class="" disabled {% if applicant > 0 %}checked {% endif %}/> <strong>Step 2</strong>: <a class="alert-link" href="{% url 'applicant_update' %}">Add your applicant information</a> at the <a class="alert-link" href="{% url 'applicant_update' %}">applicant info form</a>.<br/>
          <input type="checkbox" class="" disabled {% if applicant_applications > 0 %}checked {% endif %}/> <strong>Step 3</strong>: From the <a class="alert-link" href="{% url 'index' %}">home page</a>, browse to a region, team, and positon, fill out the application, and save the form. Your applications and their status are listed on your <a class="alert-link" href="{% url 'applicant_detail' request.user.email %}">applicant history page</a>.<br/>
      {% else %}
          <input type="checkbox" class="" disabled /> <strong>Step 1</strong>: <a class="alert-link" href="{% url 'account_signup' %}">Sign up for an icap account</a> at the <a class="alert-link" href="{% url 'account_signup' %}">signup page</a>.<br/>
          <input type="checkbox" class="" disabled /> <strong>Step 2</strong>: <a class="alert-link" href="{% url 'applicant_update' %}">Add your applicant information</a> at the <a class="alert-link" href="{% url 'applicant_update' %}">applicant info form</a>.<br/>
          <input type="checkbox" class="" disabled /> <strong>Step 3</strong>: From the <a class="alert-link" href="{% url 'index' %}">home page</a>, browse to a region, team, and positon, fill out the application, and save the form. Your applications and their status are listed on your applicant history page.<br/>
      {% endif %}
      </div>
    </div>
  <div class="col-sm-8 p-0">
{% endif %}
{% if position_application %}
<div class="alert alert-info mt-2 ml-2 mr-2 mb-0 pl-2 pr-2 pb-1 pt-1">
  {% if position.open_date and position.close_date %}
   {% if position.open_date|date:'Y-m-d' <= todays_date and position.close_date|date:'Y-m-d' >= todays_date %}
   You applied to this position on {{ position_application.created|date:'Y-m-d' }}, and may edit your application below.
   {% else %}
   You applied to this position on {{ position_application.created|date:'Y-m-d' }}. The application period for this position is closed. 
   {% endif %}
  {% elif position.team.open_date and position.team.close_date %}
   {% if position.team.open_date|date:'Y-m-d' <= todays_date and position.team.close_date|date:'Y-m-d' >= todays_date %}
   You applied to this position on {{ position_application.created|date:'Y-m-d' }}, and may edit your application below.
   {% else %}
   You applied to this position on {{ position_application.created|date:'Y-m-d' }}. The application period for this position is closed. 
   {% endif %}
  {% elif position.team.area.open_date and position.team.area.close_date %}
   {% if position.team.area.open_date|date:'Y-m-d' <= todays_date and position.team.area.close_date|date:'Y-m-d' >= todays_date %}
   You applied to this position on {{ position_application.created|date:'Y-m-d' }}, and may edit your application below.
   {% else %}
   You applied to this position on {{ position_application.created|date:'Y-m-d' }}. The application period for this position is closed. 
   {% endif %}
  {% endif %}
  {% if position_application.status == 'R' %}
      Application <mark class="alert-link p-0">REJECTED</mark> by {{ position_application.status_author }} on {{ position_application.statused|date:'Y-m-d' }}.
  {% else %}
      Applicant selected as <mark class="alert-link p-0">{{ position_application.get_status_display }}</mark></mark> by {{ position_application.status_author }} on {{ position_application.statused|date:'Y-m-d' }}.
  {% endif %}
</div>
{% elif user.is_authenticated and "manage_area" not in area_perms %}
<div class="alert alert-info mt-2 ml-2 mr-2 mb-0 pl-2 pr-2 pb-1 pt-1">
  {% if position.open_date and position.close_date %}
   {% if position.open_date|date:'Y-m-d' <= todays_date and position.close_date|date:'Y-m-d' >= todays_date %}
   You have not applied to this position, and may apply using the application form below.
   {% if position.team.area.name == 'Eastern' %} Remember to upload your '<mark class='text-success font-weight-bold p-0'>Master Training and Experience Record</mark>' on your <a class="alert-link" href="{% url 'applicant_update' %}">applicant info</a> page.{% endif %}
   {% else %}
   You have not applied to this position. The application period for this position is closed. 
   {% endif %}
  {% elif position.team.open_date and position.team.close_date %}
   {% if position.team.open_date|date:'Y-m-d' <= todays_date and position.team.close_date|date:'Y-m-d' >= todays_date %}
   You have not applied to this position, and may apply using the application form below.
   {% if position.team.area.name == 'Eastern' %} Remember to upload your '<mark class='text-success font-weight-bold p-0'>Master Training and Experience Record</mark>' on your <a class="alert-link" href="{% url 'applicant_update' %}">applicant info</a> page.{% endif %}
   {% else %}
   You have not applied to this position. The application period for this position is closed. 
   {% endif %}
  {% elif position.team.area.open_date and position.team.area.close_date %}
   {% if position.team.area.open_date|date:'Y-m-d' <= todays_date and position.team.area.close_date|date:'Y-m-d' >= todays_date %}
   You have not applied to this position, and may apply using the application form below.
   {% if position.team.area.name == 'Eastern' %} Remember to upload your '<mark class='text-success font-weight-bold p-0'>Master Training and Experience Record</mark>' on your <a class="alert-link" href="{% url 'applicant_update' %}">applicant info</a> page.{% endif %}
   {% else %}
   You have not applied to this position. The application period for this position is closed. 
   {% endif %}
  {% else %}
   The application period for this position is closed. 
  {% endif %}
</div>
{% endif %}

      <div class="col-sm p-1">
      <div class="card bg-warning m-1">
        <div class="card-body">
      <div class="card-body">
        {{ form.non_field_errors }}
      <div class="row">
        <div class="col-sm">
        <div class="fieldWrapper">
          {{ form.consideration.errors }}
          {{ form.consideration.label_tag }}
          {{ form.consideration }}
          <span class="helptext">{{ form.consideration.help_text }}</span>
        </div>
        </div>
        <div class="col-sm">
        <div class="fieldWrapper">
          {{ form.approved_supervisor.errors }}
          {{ form.approved_supervisor.label_tag }}
          {{ form.approved_supervisor }}
          <span class="helptext">{{ form.approved_supervisor.help_text }}</span>
        </div>
        </div>
        <div class="col-sm">
        <div class="fieldWrapper">
          {{ form.approved_admin.errors }}
          {{ form.approved_admin.label_tag }}
          {{ form.approved_admin }}
          <span class="helptext">{{ form.approved_admin.help_text }}</span>
        </div>
        </div>
        <div class="col-sm">
        <div class="fieldWrapper">
          {{ form.approved_training.errors }}
          {{ form.approved_training.label_tag }}
          {{ form.approved_training }}
          <span class="helptext">{{ form.approved_training.help_text }}</span>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
        <div class="fieldWrapper">
          {{ form.qualifications.errors }}
          {{ form.qualifications.label_tag }}
          {{ form.qualifications }}
          <span class="helptext">{{ form.qualifications.help_text }}</span>
        </div>
        </div>
        <div class="col-sm">
        <div class="fieldWrapper">
          {{ form.remarks.errors }}
          {{ form.remarks.label_tag }}
          {{ form.remarks }}
          <span class="helptext">{{ form.remarks.help_text }}</span>
        </div>
        </div>
      </div>
      {% if position.buying_team %}
      <div class="row">
        <div class="col-sm">
        <div class="fieldWrapper">
          {{ form.buy_warrant.errors }}
          {{ form.buy_warrant.label_tag }}
          {{ form.buy_warrant }}
          <span class="helptext">{{ form.buy_warrant.help_text }}</span>
        </div>
        </div>
        <div class="col-sm">
        <div class="fieldWrapper">
          {{ form.buy_po.errors }}
          {{ form.buy_po.label_tag }}
          {{ form.buy_po }}
          <span class="helptext">{{ form.buy_po.help_text }}</span>
        </div>
        </div>
      </div>
      {% endif %}
      </div>
      </div>
      </div>
    </div>
  </form>
{% elif user.is_authenticated %}
<div class="alert alert-info mb-0">
<a class="alert-link" href="{% url 'applicant_update' %}">Add your applicant information</a> before applying to team positions.
</div>
{% else %}
<div class="alert alert-info mb-0">
<a class="alert-link" href="{% url 'account_login' %}">Login</a> and <a class="alert-link" href="{% url 'applicant_update' %}">add your applicant information</a> before applying to team positions.
</div>
{% endif %}
{% endif %}
</div>
</div>
</div>
{% endblock %}

{% block endscripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
(function() {
  'use strict';
  window.addEventListener('load', function() {
    var forms = document.getElementsByClassName('needs-validation');
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
<script>
    $('textarea').each(function () {
      this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
    }).on('input', function () {
      this.style.height = 'auto';
      this.style.height = (this.scrollHeight) + 'px';
    });
</script>
{% endblock %}
