{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block collapse %}
{% endblock %}

{% block content %}
<div class="card mt-2 ml-2">
  <div class="card-header p-2">
      <h5 class="mb-0 float-left">
        <a href="{% url 'area_detail' team.area.slug %}">{{ team.area }}</a> &sect; {{ team }}
      </h5>
    <div class="float-right">
    {% load guardian_tags %}
    {% get_obj_perms request.user for team.area as "area_perms" %}
    {% if user.is_authenticated and "manage_area" in area_perms or user.is_authenticated and user.email in team_ics %}
    <form class="needs-validation" id="teamstatus_form" method="POST" enctype="multipart/form-data" action="{% url 'team_detail' team.area.slug team.slug %}" novalidate>
    {% csrf_token %}
    {% if team.open_date and team.close_date %}
    Open from <input type="date" name="open" value="{{ team.open_date|date:'Y-m-d' }}" class="pb-1 mr-1" maxlength="10" id="id_open" placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"> to 
    <input type="date" name="close" value="{{ team.close_date|date:'Y-m-d' }}" class="pb-1 mr-1" maxlength="10" id="id_close" placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    {% else %}
    Open from <input type="date" name="open" value="" class="pb-1 mr-1" maxlength="10" id="id_open" placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"> to 
    <input type="date" name="close" value="" class="pb-1 mr-1" maxlength="10" id="id_close" placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    {% endif %}
    <input class="btn btn-sm btn-primary float-right pb-1 small" type="submit" name="teamstatus" value="Save dates">
    </form>
    {% else %}
    {% now "Y-m-d" as todays_date %}
     {% if team.open_date and team.close_date %}
     {% if team.open_date|date:'Y-m-d' <= todays_date and team.close_date|date:'Y-m-d' >= todays_date %}
     <span class='text-success font-weight-bold'>
     {% else %}
     <span class='text-danger font-weight-bold'>
     {% endif %}
     Open from {{ team.open_date|date:'Y-m-d' }} to {{ team.close_date|date:'Y-m-d' }}
     {% endif %}
    {% endif %}
    </div>
  </div>
<div class="card-body p-2">
  <div class="row">
<div class="col-sm-12">
  <div class="card">
    <form class="needs-validation" id="emails_form" method="POST" enctype="multipart/form-data" action="{% url 'team_emails' team.area.slug team.slug %}" novalidate>
    {% csrf_token %}
<h5 class="card-header p-2 pb-3"><strong>Select emails to send</strong><input class="btn btn-sm btn-primary float-right ml-1 pb-1 small" type="submit" name="emails" value="Send emails"></h5>
<div class="card-body p-2 bg-secondary">
  <table class="table table-bordered table-sm mb-0 bg-white">
    <thead>
      <tr>
      <th scope="col">Date / Edited</th>
      <th scope="col">Applicant Name</th>
      <th scope="col">Applicant Email</th>
      <th scope="col">Category</th>
      <th scope="col">Position</th>
      <th scope="col">Consideration</th>
      <th scope="col">Application Status</th>
      <th scope="col">Applied</th>
      <th scope="col">Supervisor</th>
      <th scope="col">Training</th>
      <th scope="col">Admin</th>
      <th scope="col">Selected</th>
      </tr>
    </thead>
    <tbody>
  {% for a in team_applicants %}
      <tr>
        <td>{{ a.created|date:'Y-m-d' }}{% if a.modified and a.modified|date:'Y-m-d' != a.created|date:'Y-m-d' %} / {{ a.modified|date:'Y-m-d' }}{% endif %}</td>
        <td><a href="{% url 'applicant_detail' a.applicant.author.email %}">{{ a.applicant.firstname|default_if_none:'--' }} {{ a.applicant.lastname|default_if_none:'--' }}</a></td>
        <td><a href="{% url 'applicant_detail' a.applicant.author.email %}">{{ a.applicant.author.email }}</a></td>
        <td>{{ a.applicant.category }}</td>
        <td><a href="{% url 'position_detail' a.position.team.area.slug a.position.team.slug a.position.slug %}">{{ a.position.name }}</a></td>
        <td>{{ a.get_consideration_display }}</td>
        <td><mark class="alert-link p-0">{{ a.get_status_display }}</mark>{% if a.status_author and a.statused %}<span class="float-right small">{{ a.status_author}} on {{ a.statused|date:'Y-m-d'}}</span>{% endif %}</td>
        <td>
            <small>{{ a.e_applied|date:'Y-m-d H:i'|default_if_none:'--' }}</small>
          <span class="float-right small">
            <input type="hidden" name="application_{{ a.id }}" readonly value="{{ a.id }}">
            <input type="checkbox" name="e_applied_{{ a.id }}" >
          </span>
        </td>
        <td>
           <small>{{ a.e_supervisor|date:'Y-m-d H:i'|default_if_none:'--' }}</small>
          <span class="float-right small">
            <input type="checkbox" name="e_supervisor_{{ a.id }}" >
          </span>
        </td>
        <td>
            <small>{{ a.e_training|date:'Y-m-d H:i'|default_if_none:'--' }}</small>
          <span class="float-right small">
            <input type="checkbox" name="e_training_{{ a.id }}" >
          </span>
        </td>
        <td>
            <small>{{ a.e_admin|date:'Y-m-d H:i'|default_if_none:'--' }}</small>
          <span class="float-right small">
            <input type="checkbox" name="e_admin_{{ a.id }}" >
          </span>
        </td>
        <td>
            <small>{{ a.e_selected|date:'Y-m-d H:i'|default_if_none:'--' }}</small>
          <span class="float-right small">
            <input type="checkbox" name="e_selected_{{ a.id }}" >
          </span>
        </td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
</div>
    </form>
    {% if user.is_authenticated and "manage_area" in area_perms or user.is_authenticated and user.email in team_ics %}
  <div class="card-footer p-2 small">
    You are a coordinator for {{ team.area }} and can set open/close dates, view <a href="{% url 'area_applicants' team.area.slug %}">all applicants to area teams</a>, and select applicants into team positions.
  </div>  
    {% elif user.is_authenticated and user.email in team_ics %}
  <div class="card-footer p-2 small">
    You are an IC on {{ team }} and can set open/close dates, view <a href="{% url 'team_applicants' team.area.slug team.slug %}">all applicants to the team</a>, and select applicants into team positions.
    }
  </div>
    {% endif %}
</div>
</div>
</div>
</div>
</div>
{% endblock %}