{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block collapse %}
{% endblock %}

{% block content %}
<div class="card mt-2 ml-2">
  <div class="card-header p-2">
      <h5 class="mb-0 float-left">
        <a href="{% url 'area_detail' team.area.slug %}">{{ team.area }}</a> &sect; {{ team }}
      </h5>
    <div class="float-right">
    {% load guardian_tags %}
    {% load tags %}
    {% get_obj_perms request.user for team.area as "area_perms" %}
    {% if user.is_authenticated and "manage_area" in area_perms or user.is_authenticated and user.email in team_ics %}
    <form class="needs-validation" id="teamstatus_form" method="POST" enctype="multipart/form-data" action="{% url 'team_detail' team.area.slug team.slug %}" novalidate>
    {% csrf_token %}
    {% if team.open_date and team.close_date %}
    Open from <input type="date" name="open" value="{{ team.open_date|date:'Y-m-d' }}" class="pb-1 mr-1" maxlength="10" id="id_open" placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"> to 
    <input type="date" name="close" value="{{ team.close_date|date:'Y-m-d' }}" class="pb-1 mr-1" maxlength="10" id="id_close" placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    {% else %}
    Open from <input type="date" name="open" value="" class="pb-1 mr-1" maxlength="10" id="id_open" placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"> to 
    <input type="date" name="close" value="" class="pb-1 mr-1" maxlength="10" id="id_close" placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    {% endif %}
    <input class="btn btn-sm btn-primary float-right pb-1 small" type="submit" name="teamstatus" value="Save dates">
    </form>
    {% else %}
    {% now "Y-m-d" as todays_date %}
     {% if team.open_date and team.close_date %}
     {% if team.open_date|date:'Y-m-d' <= todays_date and team.close_date|date:'Y-m-d' >= todays_date %}
     <span class='text-success font-weight-bold'>
     {% else %}
     <span class='text-danger font-weight-bold'>
     {% endif %}
     Open from {{ team.open_date|date:'Y-m-d' }} to {{ team.close_date|date:'Y-m-d' }}
     {% endif %}
    {% endif %}
    </div>
  </div>
<div class="card-body p-2">
  <div class="row">
    <div class='col-sm-4'>
      <div class='card'>
        <div class='card-body'>
          <div class=''>
            <h6><strong>Background</strong></h6>
          </div>
          <div class=''>
            The Incident Command Application was developed to facilitate Incident Management Teams in recruiting for and filling team positions. These positions are only for temporary assignments during an incident.<br/>
            <br/>
            All positions listed follow National Wildfire Coordination Group (NWCG) standard positions found in PMS 310-1 Wildland Fire Qualification System Guide. In order to apply to any position you must meet the qualifications and training as outlined in the 310-1 and be certified through your respective agency.<br/>
          </div>
        </div>
      </div>
     {% if team.directions %}
      <div class='alert alert-info mt-4'>
        {{ area.directions|md }}
      </div>
     {% elif team.area.directions %}
      <div class='alert alert-info mt-4'>
        {{ team.area.directions|md }}
      </div>
     {% endif %}
       <div class='alert alert-info mt-4'>
      {% if user.is_authenticated %}
        <h6><strong>Directions</strong></h6>
          <input type="checkbox" class="" disabled checked /> <strong>Step 1</strong>: <a class="alert-link" href="{% url 'account_signup' %}">Sign up for an icap account</a> at the <a class="alert-link" href="{% url 'account_signup' %}">signup page</a>.<br/>
          <input type="checkbox" class="" disabled {% if applicant > 0 %}checked {% endif %}/> <strong>Step 2</strong>: <a class="alert-link" href="{% url 'applicant_update' %}">Add your applicant information</a> at the <a class="alert-link" href="{% url 'applicant_update' %}">applicant info form</a>.<br/>
          <input type="checkbox" class="" disabled {% if applicant_applications > 0 %}checked {% endif %}/> <strong>Step 3</strong>: From the <a class="alert-link" href="{% url 'index' %}">home page</a>, browse to a region, team, and positon, fill out the application, and save the form. Your applications and their status are listed on your <a class="alert-link" href="{% url 'applicant_detail' request.user.email %}">applicant history page</a>.<br/>
      {% else %}
          <input type="checkbox" class="" disabled /> <strong>Step 1</strong>: <a class="alert-link" href="{% url 'account_signup' %}">Sign up for an icap account</a> at the <a class="alert-link" href="{% url 'account_signup' %}">signup page</a>.<br/>
          <input type="checkbox" class="" disabled /> <strong>Step 2</strong>: <a class="alert-link" href="{% url 'applicant_update' %}">Add your applicant information</a> at the <a class="alert-link" href="{% url 'applicant_update' %}">applicant info form</a>.<br/>
          <input type="checkbox" class="" disabled /> <strong>Step 3</strong>: From the <a class="alert-link" href="{% url 'index' %}">home page</a>, browse to a region, team, and positon, fill out the application, and save the form. Your applications and their status are listed on your applicant history page.<br/>
      {% endif %}
      </div>
    </div>
<div class="col-sm-8">
  <div class="card">
<h5 class="card-header p-2"><strong>Select a position below to apply</strong></h5>
<div class="card-body p-2 bg-secondary">
<table class="table table-bordered table-sm mb-0 bg-white">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Position</th>
      <th scope="col">Application Period</th>
      {% if user.is_authenticated and "manage_area" in area_perms or user.is_authenticated and user.email in team_ics %}
      <th>Application Count</th>
      <th>Selected Primary</th>
      <th>Selected Trainee</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
{% for p in team_positions %}
    {% ifchanged p.id %}
    {% now "Y-m-d" as todays_date %}
    <tr>
      <td><a href="{% url 'position_detail' team.area.slug team.slug p.slug %}">{{ p.code }}</a></td>
      <td><a href="{% url 'position_detail' team.area.slug team.slug p.slug %}">{{ p.name }}</a></td>
      <td class="{% if p.open_date and p.close_date %}{% if p.open_date|date:'Y-m-d' <= todays_date and p.close_date|date:'Y-m-d' >= todays_date %}font-weight-bold text-success{% endif %}{% elif team.open_date and team.close_date %}{% if team.open_date|date:'Y-m-d' <= todays_date and team.close_date|date:'Y-m-d' >= todays_date %}font-weight-bold text-success{% endif %}{% elif team.area.open_date and team.area.close_date %}
     {% if team.area.open_date|date:'Y-m-d' <= todays_date and team.area.close_date|date:'Y-m-d' >= todays_date %}
     font-weight-bold text-success{% endif %}{% endif %}
    ">{% if p.open_date and p.close_date %}{{ p.open_date|date:'Y-m-d' }} to {{ p.close_date|date:'Y-m-d' }}{% elif team.open_date and team.close_date %}{{ team.open_date|date:'Y-m-d' }} to {{ team.close_date|date:'Y-m-d' }}{% elif team.area.open_date and team.area.close_date %}{{ team.area.open_date|date:'Y-m-d' }} to {{ team.area.close_date|date:'Y-m-d' }}{% else %}not specified{% endif %}</td>
      {% if user.is_authenticated and "manage_area" in area_perms or user.is_authenticated and user.email in team_ics %}
      <td><a class="float-right" href="{% url 'position_detail' team.area.slug team.slug p.slug %}">{{ p.num_apps }}</a></td>
      <td>{% if p.primary %}{% for s in p.primary %}<a href="{% url 'applicant_detail' s %}">{{ s|default_if_none:"--" }}</a> {% endfor %}{% endif %}</td>
      <td>{% if p.trainee %}{% for s in p.trainee %}<a href="{% url 'applicant_detail' s %}">{{ s|default_if_none:"--" }}</a> {% endfor %}{% endif %}</td>
      {% endif %}
    </tr>
    {% endifchanged %}
{% endfor %}
  </tbody>
</table>
</div>
    {% if user.is_authenticated and "manage_area" in area_perms or user.is_authenticated and user.email in team_ics %}
  <div class="card-footer p-2 small">
    You are a coordinator for {{ team.area }} and can set open/close dates, <a href="{% url 'team_applicants' team.area.slug team.slug %}">view all applicants</a> to {{ team.name }}, <a href="{% url 'team_applicants_reports' team.area.slug team.slug 'reports' %}">generate csv/json exports of all applicants</a> to {{ team.name }}, and select applicants into team positions.
  </div>
    {% elif user.is_authenticated and user.email in team_ics %}
  <div class="card-footer p-2 small">
    You are an IC on {{ team }} and can set open/close dates, <a href="{% url 'team_applicants' team.area.slug team.slug %}">view all applicants</a> to the team, <a href="{% url 'team_applicants_reports' team.area.slug team.slug 'reports' %}">generate csv/json exports of all applicants</a> to the team, and select applicants into team positions.
  </div>
    {% endif %}
</div>
</div>
</div>
</div>
</div>
{% endblock %}