{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}Reset Password{% endblock %}

{% block collapse %}
{% endblock %}

{% block login %}
{% endblock %}

{% block content %}
<style>
.inset {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    z-index: 9999;
}
.banner-img-logged-out,
.banner-img {
    display:block;
    margin-right:auto;
    margin-left:auto;
    margin-top:50px;
    z-index: 9999;
}
</style>
    {% include "socialaccount/snippets/login_extra.html" %}
    <div class="card card-default inset" style="position:relative;z-index:9999;">
        <div class="card-body">
        <h5 class="card-title">Reset Password</h5>
		<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
        <form class="password_reset needs-validation" id="reset_form" method="POST" action="" novalidate>
	      {% csrf_token %}
              <span class="text-danger">{{ form.non_field_errors }}</span>
              <span class="text-danger">{{ form.login.errors }}</span>
              <span class="input-group">
              	<span class="input-group-prepend"><i class="glyphicon glyphicon-envelope"></i></span>
              	<input id="id_email" class="form-control form-control-sm" maxlength="30" name="login" placeholder="email@address.com" type="email" required autofocus />
	            <div class="valid-feedback">
	              Looks good!
	            </div>
	            <div class="invalid-feedback">
	              Enter a valid email address.
	            </div>
              </span>
			  <br />
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <button class="btn btn-sm btn-primary" type="submit">{% trans "Reset Password" %}</button>
        </form>
        </div>

        <div class="card-footer">
            Already have an account? <a href="{% url 'account_login' %}"><strong>Sign In</strong></a>
            Don't have an account? <a href="{% url 'account_signup' %}"><strong>Sign Up</strong></a>
        </div>
    </div>

{% endblock %}

{% block endscripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
(function() {
  'use strict';
  window.addEventListener('load', function() {
    var forms = document.getElementsByClassName('needs-validation');
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
{% endblock %}